
.navbar{
    background: #2d3035;
    color: #8a8d93;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #34373d;
    z-index: 10;
}

.sidebar {
	width: 280px;
    background: #2d3035;
    color: #6a6c70;
    border-right: 1px solid #34373d;
}

.nav-link {
	border-left: 5px solid transparent;
	padding: .5rem .75rem;

}

.zmdi {
    display: inline-block;
    font-size: 1.35rem;
    margin-right: 5px;
    min-width: 25px;
}
.sidebar-heading{
    font-weight: 700;
    margin-left: 20px;
    color: #494d53;
    font-size: 1.2rem;
    margin-bottom: 15px;
}