body {
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/img/freechalkboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}