@font-face {
  font-family: "Trajan";
  src: url(/public/assets/fonts/Trajan/Trajan\ Pro.ttf);
}
@font-face {
  font-family: "Games of Thrones";
  src: url(/public/assets/fonts/GameOfThrones/Game\ of\ Thrones.ttf);
}

@font-face {
  font-family: "Minion";
  src: url(/public/assets/fonts/Minion/Minion\ Pro\ Regular.ttf);
}

@font-face {
  font-family: "unifrak";
  src: url(/public/assets/fonts/unifrak/UnifrakturMaguntia-Book.ttf);
}
@font-face {
  font-family: "unifrakCook";
  src: url(/public/assets/fonts/unifrak/UnifrakturCook-Bold.ttf);
}

@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');

:root {
  /* Colors */
  --hue-color: 0;

  /* others colors */
  --first-color: hsl(var(--hue-color), 43%, 40%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 90%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* width: 100vw;
  height: 100vh; */
  background-color: #f8f2f2;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #8f031d;
}
.page-content {
  color: #000;
}

.selectedClass {
  color: blue;
}

.section {
  padding: 2rem 0 4rem;
}
.section__title {
  font-size: var(--h1-font-size);
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  font-family: var(--body-font-alt);
  margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle {
  text-align: center;
}

.nav__links {
  font-size: 16px;
  font-weight: var(--font-semi-bold);
}
.nav__title {
  color: #8f031d;
  font-weight: var(--font-semi-bold);
}

.footer__color {
  background-color: #8f031d;
}

.separator {
  margin: 2rem 0;
  border-bottom: 2px solid #8f031d;
}

/* .contact-form-wrapper {
    padding: 2px;
} */

.contact-form {
  /* padding: 30px 40px; */
  background-color: #f8f2f2;
  /* max-width: 400px; */
}

.contact-form textarea {
  resize: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
}

.contact-form .form-input,
.form-text-area {
  height: 50px;
  padding-left: 16px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #8f031d;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #8f031d;
}

.contact-form .form-control::placeholder {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.625rem;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

/* .contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
} */
.dropdown-menu{
  background-color: #D7AC8Fff;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-family: "Trajan";
  font-weight: 800;
}

.contact-form .description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.625rem;
  color: #252525;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  background-color: #1e1d25;
  color: #fefefe;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  font-family: "Trajan";
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #252525;
}

/* @media screen and (min-width: 1000px){
    body {
        background-image: url(/public/assets/img/desktopwhite.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
    }
} */

label {
  font-family: "Minion";
}

.btn:hover{
  color:#383341ff;
}

.error_form {
  color: #8f031d;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family: "Minion";
}

.forgot_password {
  font-family: "Minion";
}

/*  PAGE ACTUALITE */

.hot__button {
  /* border-bottom:2px solid var(--first-color); */
  color: #000;
  font-family: "Jost", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.news__title {
  font-family: "Trajan";
  font-weight: 600;
  font-size: 20px;
}
.news__text {
  font-family: "Minion";
  font-size: 15px;
  font-weight: 100;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn__color {
  font-family: "Trajan";
  font-weight: 100;
  background-color: var(--first-color);
  color: #fff;
  font-size: 14px;
}

.btn__color__alt {
  font-family: "Trajan";
  font-weight: 100;
  background-color: #3b3b3b;
  color: #fff;
  font-size: 14px;
}

.underline__first {
  border-bottom: 1px solid red;
}

.bold__text {
  font-weight: bold;
  color: var(--first-color);
}

/* Profile */

.bg__card__profile {
  background-color: #570615;
}

.label__profile {
  color: #000;
  font-family: "Minion";
  font-weight: bold;
}

.username__profile {
  font-family: "unifrak", Georgia, serif;
  color: #333333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
}

.username__comments {
  font-family: "unifrak", Georgia, serif;
  color: #333333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

.content__comments {
  font-family: "Minion";
}

.detail__comments {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625rem;
  color: #252525;
  text-align: center;
}

#timer {
  font-weight: bold;
  font-size: 4em;
}
/* .test__container{
  height: 90vh;
}

.test2__container{
  height: 100%;
} */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("/public/assets/img/headermobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  font-family: "Trajan";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(141, 56, 56, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.title__position {
  position: absolute;
  bottom: 15%;
}

.button__icon {
  padding: 0.75rem;
  /* margin-left: 20px; */
  color: var(--first-color);
  font-size: 1.25rem;
}

.resize_textarea {
  resize: none;
}

.card_size {
  height: 200px;
}

.form_infos {
  font-family: "Minion";
}

.form_name {
  color: #8f031d;
  font-size: 18px;
  font-weight: bold;
}

.subtitle__text {
  font-family: "unifrak", Georgia, serif;
  color: #8f031d;
  font-weight: bold;
}

.header__subtitle{
  font-family: 'unifrakCook', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color:#383341ff;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);


}

@media screen and (max-width: 500px) {
  .header__subtitle {
    display: none;
    /* font-family: "Minion";
  /* border: 1px solid #8f031d; */
    /* font-weight: 600;  */
  }
}

@media (min-width: 768px) {
  .masthead {
    background: url(/public/assets/img/masterhead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  
  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .about__section{
    padding: 60px 0px 0px 0px;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: -0.1rem;
  }
  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.block__test {
  height: 200px;
}

.site-title {
  font-size: 2.5em;
  line-height: 1.3;
}

.theme-color {
  color: #570615;
}

.site-title,
h1.site-title a {
  font-family: "unifrak", Georgia, serif;
  color: #333333;
}

.card-body {
  background-color: #f8f2f2;
}
@media screen and (max-width: 575px) {
  .display__div {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /* border-radius: 15px; */
  background-color: #cdac99ff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
.container_title {
  background-color: #ff8a80;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.divider {
  font-family: "Trajan";
  color: #383341ff;
  font-size: 3vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 20vw;
}
.divider::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0), #a64249ff);
  margin-right: 4vh;
}
.divider::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0), #a64249ff);
  margin-left: 4vh;
}

.button__title{
  font-family: 'unifrakCook';
  font-size: 20px;
}

.containerPage{
  height: 80vh;

}

.containerHeader{
  height: 5vh;
}

/* CSS CGU */

.cgu__back{
  width: 100%;
  background-image: url(/public/assets/img/masterhead.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url(/public/assets/img/masterhead.jpg);
}
.cgu__name{
  color:#877E6Fff;
  font-weight: bold;
  font-size: 18px;
  backdrop-filter: blur(3px);
  text-transform: uppercase;
}

.cgu__sitename{
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.cgu__type{
  text-transform: lowercase;
  font-style: italic;
  
}

.cgu__title{
  font-family: "unifrakCook";
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #570615;
  padding: 3px;
  font-weight: bold;
}

