<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/cards.css">
    <title>Document</title>
</head>

<body>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    <img src="/public/assets/img/poster1.jpg"
                        alt="Photo of sunset">
                    <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                    <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    <img src="/public/assets/img/poster2.jfif" alt="Photo of sunset">
                    <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                    <p class="card-text">This is a company that builds websites, web .</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    <img src="/public/assets/img/poster3.jfif" alt="Photo of sunset">
                    <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                    <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
                </div>
            </div>
        </div>

    </div>



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
</body>

</html>